/*
*	gray.css
*/
* {margin:0;padding:0;border:0}
body{
	color:#000000;
	background:#4E595F;
	margin:0;
	text-align:center;
	width:100%;
	height:100%;
}
a {
	color:#000000; 
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
h1 {
	display:block;
	font-size:150%; 
	font-weight:normal;
	margin-bottom: 10px;
	color:#E8EDF7;
}
h2 {
	margin:10px 0 10px;
	font-size:130%;
	letter-spacing:1px;
	font-weight:500;
}
h3 {
	margin:10px 0 5px;
	font-size:110%;
	letter-spacing:2px;
	font-weight:600;
}
h2, h3 {
	color:#616469;
}
p {
	margin:0px 0px 20px;
}
#header {
	background:#1A292F;
	padding: 10px;
	position: relative;
}
#header h1 {
	margin: 0;
}
.body-wrap {
	background:#E8EDF7;
	color:#000;
	height: auto;
	display:block;
	text-align: left;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
#content {
	background:#E8EDF7;
	padding-right: 10%;
	width: auto;
}
#content h1 {
	color:#000;
}
.menu {
	background: #1A292F;
}
.menu li {
	text-align:left;
	display:block;
	line-height:30px;
	height:30px;
	text-decoration:none;
	padding-left:20px;	
	border:1px solid #FFFFFF;
	margin:1px;
	overflow: hidden;
}

.menu li:hover {
	background:#2A393F;
}
.menu li:hover a {
	color:#AAA;
}
.menu li a {
	color: #FFF;
	font-weight: 400;
}


#momo_footer {
	background:#1A292F;
	color:#637076;
	width:100%;
	font-size:95%;
	font-weight:normal;
	padding: 10px 0;
	text-align:center;
	clear:both;
}
#momo_footer  a {
	color:#93A0A6;
}